.button {
    width: 100%;

    &.button--submit {
        border-radius: 2px !important;
        font-size: 13px;
        padding: 5px 15px;

        &:not(:disabled) {
            border-color: #34495e;
            background-color: #34495e;
        }
    }
}

@media screen and (min-width: 600px) {
    .button--submit {
        width: auto;
    }
}