.form {
    background-color: #e2e2e2;
    padding: 15px;

    .form__input-group {
        position: relative;

        i {
            left: 12px;
            position: absolute;
            top: 12px;
            z-index: 2;
        }
        input {
            padding-left: 26px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .form {
        padding: 80px 30px 50px 30px !important;
    }
}